<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>French Cuisine Search</title>
</head>
<body>
    <h1>French Cuisine Search</h1>
    <form action="/list" method="post">
        <button type="submit">See full list</button>
    </form>
    <br>
    <form action="/search" method="get">
        <input type="text" name="search_query" placeholder="Search for a dish...">
        <button type="submit">Search</button>
    </form>

    <form action="/random" method="post">
        <button type="submit">I'm feeling lucky</button>
    </form>

    <a href="/">Back to home</a>
</body>
</html>